<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trade Statistics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<div id="chart">
    <p id="loading-text" style="text-align: center;">Loading chart...</p>
    <img id="trade-chart" src="" alt="Market Trends" style="display: none;" />
</div>

<script>

</script>

<body>
    <header>
        <h1>Trading Statistics Dashboard</h1>
    </header>
    <main>
        <!-- Login Page -->
        <div id="login-page" class="page">
            <h2>Login</h2>
            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type=""></a>Login</button><href="dynamic trade.html">
            </form>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
